# OS
.DS_Store
Thumbs.db

# Maven build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# Compiled class files
*.class

# Spring Boot
spring.log

# Others
HELP.md
